.button-group {
    display: inline-flex;
    list-style-type: none;
}

.link {
    margin-left: 70%;
}

.nav-button {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15%;
}

.icon {
    font-size: 24px;
}

.nav-button:hover {
    opacity: 75%;
    cursor: pointer;
}